.book-requests {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 50rem;
  height: 40rem;

  border: 1px solid var(--theme-elevation-750);

  overflow-y: auto;

  .request {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;

    h4 {
      margin-bottom: 0;
    }

    .actions {
      display: flex;
      gap: 1rem;
    }
  }
}